</div>
<!-- End Page Row -->
</div>
<!-- End Page Container -->
</div>
<!-- End Page Wrapper -->

<!-- Footer Section -->
<footer class="footer">
    <div class="page-container">
        <div class="row">
            <div class="col-md-4">
                <div class="foot-widget pr-md-4 mb-md-0 mb-4">
                    <h5 class="mb-3">About Us</h5>
                    <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla elementum viverra pharetra. Nulla
                        facilisis, sapien non pharetra venenatis, tortor erat tempus est, sed accumsan odio ante ac elit.
                        Nulla hendrerit a est vel ornare.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="foot-widget quick-links mb-md-0 mb-4">
                    <h5 class="mb-3">Quick Links</h5>
                    <ul>
                        <li><a href="/"><i class="fas fa-arrow-right mr-1"></i> Home</a></li>
                        <li><a href="/all-jobs"><i class="fas fa-arrow-right mr-1"></i> All Jobs</a></li>
                        <li><a href="/about-us"><i class="fas fa-arrow-right mr-1"></i> About Us</a></li>
                        <li><a href="/contact-us"><i class="fas fa-arrow-right mr-1"></i> Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="foot-widget contact-info">
                    <h5 class="mb-3">Contact Us</h5>
                    <ul>
                        <li class="d-flex align-items-center text-white mb-3">
                            <i class="fas fa-phone-alt mr-2"></i>
                            <p class="text-white"><a href="tel:+91 12345 67890">+91 12345 67890</a></p>
                        </li>
                        <li class="d-flex align-items-center text-white mb-3">
                            <i class="fas fa-envelope-open mr-2"></i>
                            <p class="text-white"><a href="mailto:info@Jobs11.com">info@Jobs11.com</a></p>
                        </li>
                        <li class="d-flex align-items-center text-white">
                            <i class="fas fa-map mr-2"></i>
                            <p class="text-white">Mohali , Punjab, India</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="page-container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright text-white text-sm-left text-center mb-sm-0 mb-1">
                    Copyright © 2021
                    <span>Jobs11</span>
                </p>
            </div>
            <div class="col-sm-6">
                <div class="social-link">
                    <ul class="d-flex justify-content-sm-end justify-content-center">
                        <li><a href="javascript:void();"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:void();"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!-- End Body Wrapper -->

<!-- Includes Js -->
<script src="/assets/library/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/popper.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/library/js/custom.js"></script>

</body>
</html>