<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs11 || Home</title>
    <!-- Includes Stylesheet -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/open-sans/stylesheet.css">
    <link rel="stylesheet" href="/assets/fonts/ruda/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/library/css/style.css">
    <link rel="stylesheet" href="/assets/library/css/responsive.css">
</head>

<body>

<!-- Start Body Wrapper -->
<div id="body-wrapper">

<!-- Top Bar -->
<div class="top-bar">
	<div class="page-container">
		<div class="top-bar-wrapper d-sm-flex justify-content-sm-between align-items-sm-center">
			<div class="contact-info">
				<ul class="d-flex justify-content-sm-start justify-content-center mb-sm-0 mb-2">
					<li>
						<a href="javascript:void();">
							<i class="fas fa-envelope-open"></i>
							info@jobs11.com
						</a>
					</li>
					<li>
						<a href="javascript:void();">
							<i class="fas fa-phone-alt"></i>
							+91 12345 67890
						</a>
					</li>
				</ul>
			</div>
			<div class="social-link">
				<ul class="d-flex justify-content-sm-start justify-content-center">
					<li><a href="javascript:void();"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
					<li><a href="javascript:void();"><i class="fab fa-linkedin-in"></i></a></li>
					<li><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Logo Header -->
<header class="logo-header">
	<div class="page-container">
		<div class="d-xl-flex justify-content-xl-between align-items-xl-center">
			<div class="logo text-xl-left text-center pb-xl-0 pb-3">
				<a href="/">
					<img src="/assets/images/logo/logo.png" class="mw-100" alt="logo">
				</a>
			</div>
			<div class="ads-block text-xl-right text-center">
				<a href="javascript:void();">
					<img src="/assets/images/ad/ad-728-90.png" class="mw-100" alt="ads-image">
				</a>
			</div>
		</div>
	</div>
</header>

<!-- Menu Header -->
<header class="main-header py-lg-0 py-2">
	<div class="page-container">
		<nav class="navbar navbar-expand-lg p-0">
			<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainHeader">
				<span>Menu</span> <i class="fas fa-bars ml-2"></i>
			</button>
			<div class="collapse navbar-collapse" id="mainHeader">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="/" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a href="/all-jobs" class="nav-link">All Jobs</a>
					</li>
					<li class="nav-item">
						<a href="/about-us" class="nav-link">About</a>
					</li>
					<li class="nav-item">
						<a href="/contact-us" class="nav-link">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>

<!-- Banner Section -->
<section class="home-banner pt-3">
    <div class="page-container">
        <img src="/assets/images/banner/banner.jpg" class="mw-100" alt="banner-image">
    </div>
</section>

<!-- Page Wrapper -->
<div class="page-wrapper">
<!-- Page Container -->
<div class="page-container">
<!-- Page Row -->
<div class="row">