<%- include includes/header.ejs %>
<%- include includes/left-sidebar.ejs %>

<!-- Middle Content -->
<div class="col-lg-6 order-lg-2 order-1">
    <div class="main-content">
		<?php include ('includes/main-search.php'); ?>
		<div class="widget mt-4">
			<div class="widget-content">
				<div class="contact-us">
                    <h4 class="mb-2">About Us</h4>
					<div class="row">
						<div class="col-md-7">
							<div class="contact-form mb-md-0 mb-4">
								<form>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Full Name">
									</div>
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Email">
									</div>
									<div class="form-group">
										<input type="number" class="form-control" placeholder="Phone">
									</div>
									<div class="form-group">
										<textarea rows="5" class="form-control" placeholder="Write Message"></textarea>
									</div>
									<div class="btn-submit">
										<button type="button" class="btn btn-info">Submit</button>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-5">
							<div class="contact-info mb-md-0 mb-3">
								<div class="info-box mb-2">
									<i class="fas fa-phone-alt"></i>
									<h5>Give Us A Call</h5>
									<p>+91 12345 67890</p>
								</div>
								<div class="info-box mb-2">
									<i class="fas fa-map"></i>
									<h5>We're On The Map​​</h5>
									<p>Mohali , Punjab, India</p>
								</div>
								<div class="info-box">
									<i class="fas fa-envelope-open"></i>
									<h5>Send Us A Message</h5>
									<p>info@Jobs11.Com</p>
								</div>
							</div>
						</div>
					</div>
				</div>   
			</div>   
		</div>   
    </div>
</div>

<%- include includes/right-sidebar.ejs %>
<%- include includes/footer.ejs %>